<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-padding" *ngIf="auth.user | async as user">

  <ion-card>
    <div class="ion-text-center">
      <img src="{{ user.photoURL }}" referrerpolicy="no-referrer" alt="{{ user.displayName }}">
    </div>
    <ion-card-header>
      <ion-card-title>{{ user.displayName }}</ion-card-title>
      <ion-card-subtitle>{{ user.email }}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>

      <ul>
        <li>
          <strong>Data do cadastro:</strong>
        </li>
        <ul>
          <li>{{ userData.metadata.createdAt | date: 'dd/MM/yyyy' }} às {{ userData.metadata.createdAt | date: 'HH:mm' }}</li>
        </ul>
        <li><strong>Último acesso:</strong></li>
        <ul>
          <li>{{ userData.metadata.lastLoginAt | date: 'dd/MM/yyyy' }} às {{ userData.metadata.lastLoginAt | date: 'HH:mm' }}</li>
        </ul>
      </ul>

      <p class="ion-margin-bottom">Seu perfil é mantido pelo Google. Clique no botão abaixo para acessá-lo:</p>

      <ion-button class="ion-margin-bottom ion-margin-top" expand="block" href="https://myaccount.google.com/" target="_blank">Ver / Editar perfil</ion-button>

      <p>Clique no botão abaixo para fazer 'logout'.</p>

      <ion-button class="ion-margin-top" expand="block" color="danger" routerLink="/usuario/logout">
        <ion-icon name="log-out" slot="start"></ion-icon>Logout / Sair
      </ion-button>

    </ion-card-content>
  </ion-card>
</ion-content>
