<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header>My&bull;Docs&bull;App</ion-list-header>
          <ion-note>Ajuda e suporte</ion-note>

          <ion-menu-toggle auto-hide="false">

            <ion-item routerDirection="root" routerLink="/inicio" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="home-outline" md="home-sharp"></ion-icon>
              <ion-label>Início</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/usuarios" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="people-outline" md="people-sharp"></ion-icon>
              <ion-label>Usuários</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/documentos" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="documents-outline" md="documents-sharp"></ion-icon>
              <ion-label>Documentos</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/faq" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="help-circle-outline" md="help-circle-sharp"></ion-icon>
              <ion-label>Questões frequêntes</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/contatos" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="chatbubble-ellipses-outline" md="chatbubble-ellipses-sharp"></ion-icon>
              <ion-label>Faça contato</ion-label>
            </ion-item>

            <ion-item routerDirection="root" routerLink="/sobre" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" ios="information-circle-outline" md="information-circle-sharp"></ion-icon>
              <ion-label>Sobre</ion-label>
            </ion-item>

          </ion-menu-toggle>
        </ion-list>

      </ion-content>

      <footer class="ion-text-center ion-padding">&copy; Copyright 2022 Eu mesmo.</footer>

    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
