<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Questões frequêntes</ion-title>
  </ion-toolbar> 
</ion-header>

<ion-content class="ion-padding">

  <div class="ion-text-center">
    <ion-img src="assets/faq01.png"></ion-img>
  </div>
  &nbsp;

  <!--
    Só exibe a página se existem dados em 'faqs'.
    Lembre-se que esses dados vem do backend na Internet.
  -->
  <div *ngIf="faqs">

    <!--
      O loop 'ngFor' itera cada item de 'faqs', armazenando em 'faq' e exibindo.
      O conteúdo de <ion-item-divider> será repetido para cada item de 'faqs'.
    -->
    <ion-item-divider *ngFor="let faq of faqs">

      <dl>
        <dt><strong>{{ faq.question }}</strong></dt><br>
        <dd>{{ faq.response }}</dd>
      </dl>

    </ion-item-divider>

  </div>

</ion-content>
