<ion-header>
  <ion-toolbar>

    <!-- Ícone do menu -->
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>

    <ion-title>Oooops!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div>

    <div class="ion-text-center"><img src="assets/e404.jpg" alt="Erro 404"></div>
    <p>O conteúdo que você está tentando acessar não foi encontrado.</p>
    <p>Use o menu para navegar entre as páginas e seções.</p>

  </div>

</ion-content>
